<h5 class="text-center">Instructions</h5>
<p class="text-center">
  Only one of you needs for fill out this form, but you need to enter the patient or clinician ID of the other individual. They can find their ID at the bottom of the window.
</p>
