<h3>Editing Treatment</h3>

<%= render "editform", treatment: @treatment %>

<% if current_user.role == "clinician" %>
  <%= link_to "Show", clinician_treatment_path(@treatment) %>
  <% elsif current_user.role == "patient" %>
  <%= link_to "Show", clinician_treatment_path(@treatment) %>
  <% else %>
  redirect_to user
<% end %>
