<h5 class="text-center">Welcome!</h5>
<p class="text-center">
  Recupertor is a way for clinicians and patients to keep track of therapy exercises and treatments that fall outside of scheduled appointments. Please walk through the creation of your treatment with your clinician so we can get you set up. Click on 'My Profile' to get started!
</p>
